@font-face {
  font-family: "Avenir";
  src: url("../public/fonts/Avenir.ttc");
}

@font-face {
  font-family: "ITCAvantGardePro-Bk";
  src: url("../public/fonts/ITCAvantGardePro-Bk.otf");
}

@font-face {
  font-family: "ITCAvantGardePro-Bold";
  src: url("../public/fonts/ITCAvantGardePro-Bold.otf");
}

@font-face {
  font-family: "ITCAvantGardePro-Demi";
  src: url("../public/fonts/ITCAvantGardePro-Demi.otf");
}
@font-face {
  font-family: "ITCAvantGardePro-Md";
  src: url("../public/fonts/ITCAvantGardePro-Md.otf");
}
