@import "fonts.scss";
@import "variables.scss";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  @media screen and (min-width: $tablet-m) {
    grid-template-columns: repeat(2, 1fr);
  }

  .grid-item {
    position: relative;

    img {
      object-fit: cover;
      width: 100%;
      height: 100%;
    }

    &:last-child {
      width: 50vw;
      .content-wrapper {
        padding: 6rem 7rem 0rem 8rem;
        h1 {
          //styleName: Heading/4;
          font-family: $font-avg-bold;
          font-size: 31px;
          font-weight: 700;
          line-height: 41px;
          letter-spacing: 0em;
          text-align: left;
        }

        h3 {
          margin-top: 16px;
          font-family: $font-avenir;
          font-size: 16px;
          font-weight: 400;
          line-height: 26px;
          letter-spacing: 0em;
          text-align: left;
          color: #666666;
        }

        .sub-content {
          margin-top: 30px;
          width: 140px;
          h5 {
            font: {
              size: 13px;
              weight: 900;
            }
            font-family: $font-avenir;
            line-height: 17px;
            letter-spacing: 0em;
            text-align: left;
            display: inline-block;
            border-bottom: 1px solid black;
            padding-bottom: 2px;
          }
        }

        @media screen and (max-width: $tablet-m) {
          & {
            h1 {
              color: white;
            }
          }
        }
      }
      .product-container {
        margin-top: 4rem;
        padding: {
          left: 8rem;
          right: 2rem;
          bottom: 3rem;
        }
        width: 100%;
        display: flex;
        flex-direction: row;
        overflow-x: auto;
        .slide-group {
          position: relative;
          display: flex;
          justify-content: start;
          overflow: hidden;
          width: 100%;
          ul {
            list-style: none;
            padding: 0;
            margin: 0;
            display: flex;
            li {
              padding-right: 30px;

              .product {
                width: 230px;
                margin-right: 30px;
                img {
                  height: 100%;
                  width: 230px;
                  height: 310px;
                }
                h3 {
                  margin: 5px 0px;
                  font-family: $font-avenir;
                  font-size: 13px;
                  font-weight: 400;
                  line-height: 20px;
                  letter-spacing: 0em;
                  text-align: left;
                }
                .dots {
                  display: flex;
                  flex-direction: row;
                  justify-content: space-between;
                  .label {
                    font-family: $font-avenir;
                    font-size: 13px;
                    font-weight: 500;
                    line-height: 20px;
                    letter-spacing: 0em;
                    text-align: center;
                  }
                  .dotation {
                    display: flex;
                    justify-content: center;
                    div {
                      width: 12px;
                      height: 12px;
                      border-radius: 50%;
                      margin-left: 5px;

                      &:first-child {
                        border: 2px solid rgb(2, 80, 2);
                        padding: 2px;
                        background-color: #a6cc99;
                      }
                      &:nth-child(2) {
                        background-color: #cc9999;
                      }
                      &:nth-child(3) {
                        background-color: #cb99cc;
                      }
                      &:last-child {
                        background-color: #a6cc99;
                      }
                    }
                  }
                }

                &:last-child {
                  margin: 0;
                }
              }
            }
          }
          .prev-button,
          .next-button {
            width: 48px;
            height: 48px;
            border: 0.5px solid #aaa999;
            border-radius: 1px;
            background-color: transparent;
            cursor: pointer;
            position: absolute;
            z-index: 2;
            top: calc(50% - 24px);

            i {
              font-size: 15px;
              color: rgb(38, 38, 38);
              -webkit-text-stroke: 0px white;
            }

            &:hover {
              transition: 0.2s;
              background-color: #edededa8;
              border: 0.5px solid #d0cfc8;

              i {
                color: #aaa999;
              }
            }
          }

          .prev-button {
            left: 1rem;
            display: none;
          }

          .next-button {
            right: 1rem;
          }

          .slide {
            position: relative;
            inset: 0;
            opacity: 0;
            display: none;
          }

          [data-slide] {
            display: block;
            opacity: 1;
          }
        }
        @media screen and (max-width: $tablet-m) {
          .slide-group {
            overflow: auto;
          }
        }
      }

      @media screen and (max-width: $tablet-m) {
        margin-top: -13rem;
        width: 100vw;
        & {
          .content-wrapper {
            padding: 0rem 1.5rem;
            font-size: 20px;

            h1 {
              font-family: $font-avg-bold;
              font-size: 20px;
              font-weight: 700;
              line-height: 26px;
              letter-spacing: 0em;
              text-align: left;
            }

            h3 {
              display: none;
            }

            .sub-content {
              border-color: white;
              h5 {
                color: white;
                border-bottom: 1px solid white;
              }
            }
          }
          .product-container {
            margin-top: 2rem;

            padding: {
              left: 2rem;
              right: 2rem;
              bottom: 3rem;
            }
          }
        }
      }
    }
  }
}
