$font-avenir: "Avenir";
$font-avg-bk: "ITCAvantGardePro-Bk";
$font-avg-bold: "ITCAvantGardePro-Bold";
$font-avg-demi: "ITCAvantGardePro-Demi";
$font-avg-md: "ITCAvantGardePro-Md";

$mobile-s: "320px";
$mobile-m: "375px";
$mobile-l: "425px";
$tablet: "768px";
$tablet-m: "960px";
$laptop: "1024px";
$laptop-l: "1440px";
$laptop-xl: "1920px";
$tv: "2560px";
